<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeminiAPIKey"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4239057622725171~2361228978"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BakingActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity5"
            android:exported="false" />
        <activity
            android:name=".confirmpass"
            android:exported="false"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity
            android:name=".MainActivity3"
            android:exported="false" />

        <activity android:name=".SpeakActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity android:name=".SwipeActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity android:name=".GetStartedActivity"
            android:exported="true"
            android:theme="@style/Theme.GeminiAPIKey" />
        <activity android:name=".WebViewActivity"
        android:exported="true"
        android:theme="@style/Theme.GeminiAPIKey" />
    </application>

</manifest>